.BBTVContainer {
  width: 530px;
  height: 539px;
  color: #2c506d;
  border-bottom: 2px solid #2c506d;
  position: relative;
}

.bbtv {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.episodeTitle {
  font-size: 20px;
  font-weight: 500;
}

.watchNow {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
}
.watchNowText {
  /* text-decoration: underline; */
  margin-right: 8px;
}
.date {
  font-size: 12px;
  font-weight: 200;
}

.description {
  font-size: 14px;
  margin-top: 15px;
}

.watchNowLink:visited {
  color: #2c506d;
}

.watchNowLink:hover {
  color: #d4a20d;
}

.iframe {
  width: 525px;
  height: 315px;
}

@media (max-width: 510px) {
  .BBTVContainer {
    width: 100%;
    height: unset;
    margin-top: 0px;
  }
  .iframe {
    width: 100%;
    aspect-ratio: 1.7 /1;
    height: auto;
  }

  .watchNow {
    padding-top: 10px;
    margin-bottom: 10px;
    position: unset;
    bottom: unset;
  }

  .bbtv {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
