.BBTVContainer {
  width: 675px;
  height: 580px;
  color: #2c506d;
  border-bottom: 2px solid #2c506d;
  position: relative;
}

.bbtv {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.content {
  margin-top: 10px;
}

.episodeTitle {
  font-size: 20px;
  font-weight: 600;
}


.watchNow {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 10px;

}
.watchNowText{
  text-decoration: underline;
}
.date {
  font-size: 12px;
  font-weight: 200;
}
.description {
  font-size: 14px;
  margin-top: 10px;
}