.cardContainer {
  width: 290px;
  height: 363px;
  flex: 0 0 auto;
  box-shadow: 0px 0px 13px 0px #a8adb1;
  margin-bottom: 15px;
}

.headline {
  color: #2c506d;
  font-weight: 600;
  text-decoration: underline;
}

.description {
  color: #2c506d;
  font-size: 14px;
}

.newsCardText {
  padding: 0px;
  margin: 12px;
}
.imgStyle{
  object-fit: cover;
}
