.featuresAndAnalysisContainer {
  width: 675px;
  height: 588px;
  color: #2c506d;
  border-bottom: 2px solid #2c506d;
  /* display: flex;
  flex-direction: column; */
  
}
.featAndAnalysis{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
 
}
.featureHeadline{
  font-weight: 600;
  text-decoration: underline;
  margin-top: 15px;
   font-size: 20px;
}
.featureDescription{
  font-size: 14px;
}

.featureCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featureCard{
width: 415px;
position: relative;

}
.featureAsideContainer{
  display: flex;
  flex-direction: column;
  width: 215px;
  gap: 20px;
  
}
.featureCardAside{

}
.readMore{
  position:absolute;
  left: 0;
  top: 490px;
  /* text-decoration: underline; */
}

.readMoreText{
  text-decoration: underline;
}

