.dateDiv {
  width: 188px;
  background-color: #7e9fb8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3px;
  margin-top: 15px;
}

.dateText {
  justify-content: center;
}

.MagazineCardContainer {
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faDownload{
  margin-top: 3px;
}
