.headerBackground {
	height: 75px;
	width: 100vw;
	background-color: #d5dce2;
	border-bottom: 3px solid #2c506d;
	position: absolute;
	top: 0;
	z-index: -10;
}

.header {
	display: grid;
	max-width: 1100px;
	grid-template-columns: 150px auto;
	grid-template-rows: 75px 75px;
	margin: 0 auto;
	padding: 0 20px;
}

.topNavBar {
	display: flex;
	justify-content: space-between;
	align-self: end;
  font-size: 0.9em;
}

.bottomNavBar {
  display: flex;
  justify-content: space-between;
}

.logoBB {
	grid-row: span 2;
}

.navBarContainer {
	display: flex;
	column-gap: 20px;
	padding: 0;
	padding-bottom: 3px;
	margin: 0;
	list-style: none;
	color: #2c506d;
	align-items: flex-end;
}

.navLinks {
	color: inherit;
	text-decoration: none;
	transition: all 0.1s ease;
}

.navLinks:hover {
	color: #d4a20d;
	cursor: pointer;
}

.birmingham {
	color: #2c506d;
	font-size: 32px;
}

.business {
	color: #7e9fb8;
	font-size: 32px;
}

.magContainer {
	height: 20px;
	width: 20px;
	align-self: end;
	margin-bottom: 6px;
}

.magIcon {
	color: #2c506d;
}


.navBtn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	color: #2c506d;
}

.searchBtn {
  cursor: pointer;
  background: transparent;
  border: none;
	outline: none;
}

.responsive_search {
  color: red;
}

.burgerIcon {
	font-size: 2.5em;
}

@media only screen and (max-width: 1090px) {
	.navBtn {
		position: static;
		visibility: visible;
		opacity: 1;
	}

	.navCross {
		position: absolute;
		top: 10px;
		right: 10px;
		color: white;
	}

	.navBarContainer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #2c506d;
		transition: 0.7s;
		transform: translateY(-100vh);
		color: white;
		font-size: 2.5em;
		gap: 1em;
		z-index: 10;
	}

	.responsive_nav {
		transform: none;
	}
}
