.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headline {
  color: #2c506d;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 20px;
}

.description {
  color: #2c506d;
  font-size: 14px;
  border-bottom: solid 2px;
  height: 96px;
}

.cardText {
  width: 453px;
}
.imgStyle{
  object-fit: cover;
}
