.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mainTitle{
    color: #2c506d;
    font-weight: bold;
    font-size: 48px;
    padding-top: 25px;
    padding-left: 50px;
}

.backgroundContainer{
}

.contactText{
    width: 100vw;
}

.contactImage{
    z-index: -3;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.contactForm{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.input{
    width: 374px;
}

.submitButton{
    width: 106px;
}