.skipLink {
    position: absolute;
    /* left: -10000px; */
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .skipLink:focus {
    position: static;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
  }