.MagazineContainer {
  width: 530px;
  height: 539px;
  position: relative;
  color: #2c506d;
  border-bottom: solid 1.5px;
}

.h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 530px;
}

.archive {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  justify-content: center;
}

.archiveDiv {
  width: 530px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
