.MagazineContainer {
  width: 530px;
  height: 539px;
  position: relative;
  color: #2c506d;
  border-bottom: solid 2px;
}

.h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 530px;
}

.archive {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  justify-content: center;
  color: #2c506d;
}

.archiveDiv {
  width: 530px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 510px) {
  .h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .MagazineContainer {
    width: 100%;
    height: unset;
    margin-bottom: 15px;
  }

  .cardContainer {
    width: 100%;
  }

  .archiveDiv {
    width: 100%;
    height: 50px;
  }
}
