.MostPopularContainer {
  width: 530px;
  height: 539px;
  margin-bottom: 0;
}

.h1 {
  color: #2c506d;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}

@media (max-width: 510px) {
  .MostPopularContainer {
    width: 100%;
  }

  .cardContainer {
    height: 450px;
    width: 100%;
  }
}
