.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 140px;
}

.headline {
  color: #2c506d;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 20px;
}

.description {
  color: #2c506d;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.hr {
  border: solid 1px #2c506d;
}

.cardText {
  width: 453px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}

.imgStyle {
  object-fit: cover;
}

@media (max-width: 510px) {
  .headline {
    font-size: 15px;
  }
}
