.newspage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 80vh;
}

.animation {
	border: 0;
	margin: 0;
	width: 25rem;
	height: 25rem;
}

.storyLink {
	color: #2c506d;
	font-size: 1.25em;
	transition: all 0.1s ease;
}

.storyLink:hover {
	color: #d4a20d;
	cursor: pointer;
}

@media (max-width: 510px) {
	.newspage {
		height: 71vh;
	}
}

@media (max-width: 769px) {
	.newspage {
		height: 80vh;
	}
}

@media (max-width: 1090px) {
	.newspage {
		height: 77vh;
	}
}
